<style>
.ul {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
</style>
<div class="hero hero--indigo">
    <div class="hero__content">
        <div class="container center-xs">
            <div class="row">
                <div class="col-md-4 col-xl-2">
                    <img style="max-height:150px" src="/static/web_app/public/img/globalnetwork.jpg">
                </div>
                <div class="col-md-8 col-xl-10">
                    <div class="flex-fluid">
                        <h1>MAIN HTML TEMPLATE </h1>
                        <p class="text-large">Description
                        </p>
                        <p>
                            Another paragraph
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="panel panel--loose panel--bordered">
            <div class="row">
                <div class="col-md-8 text-large">
                    <h1 class="text-huge text-blue base-margin-bottom">Locations</h1>
                </div>
            </div>
            <div style="padding-top: 10px">
                <ul class="ul" data-columns="3">
                    {%for item in list%}
                        <p><a href="{% url 'location' loc=item %}">{{ item }}</a></p>
                        
                    {% endfor %}
                </ul>
            </div>
            


        </div>
    </div>
</div>